@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root{
  --bg-color: #ffffff;
  --text-color: #000;
  --secondary-color:#a09dab;
  --main-color:#f75023;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}